<div class="card border-0 shadow container mt-5">
    <button
      type="button"
      class="btn btn-success m-2 fw-bold col-md-1"
      (click)="goForm()"
    >
      + Add
    </button>
  
    <table class="table table-striped mt-4 mb-5">
      <thead>
        <tr>
          <th>Name</th>
          <th>PhoneNo</th>
          <th>Attendance</th>
          <th>Gender</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of data">
          <td>{{ item.Name }}</td>
          <td>{{ item.PhoneNo }}</td>
          <td>{{ item.Atendance ? "Present" : "Absent" }}</td>
          <td>{{ item.Gender }}</td>
          <td>
            <button class="btn btn-primary btn-sm me-2" (click)="edit(item.id)">
              Edit
            </button>
            <button class="btn btn-danger btn-sm" (click)="delete(item.id)">
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>